@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800');
body {
	font: 16px/26px "Open Sans", sans-serif;
	color: #181818;
	overflow-x: hidden;
}
body, html {
	height: 100%;
}
img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
}
hr {
	border-color: #CDD6DD;
	border-width: 3px;
    margin: 0;
}
a {
	color: #797979;
	text-decoration: underline;
}
a:hover {
	color: #F6A000;
	text-decoration: none;
}
.link-orange {
	color: #F6A000;
}
.btn {
	font-family: "Open Sans";	
	font-size: 11px;	
	font-weight: 800;	
	letter-spacing: 0.7px;	
	line-height: 12px;	
	text-align: center;
	padding: 17px 35px;
	border-radius: 3.74px;
	text-decoration: none;
	outline: none;
}
.btn-small {
	padding: 8px 12px 7px;
}
.btn-big {
	font-size: 12px;	
	font-weight: 800;	
	letter-spacing: 0.75px;	
	line-height: 16px;
}
.btn-yellow-outline {
	border: 1px solid #F6A000;
	border-radius: 3px;
	box-shadow: 0 20px 30px 0 #FEF2DC;
	color: #4A4A4A;
	white-space: normal;
	background: #fff;
}
.btn-yellow-secondary {
	opacity: .49;
}
.btn-double-right-border {
	border-right-width: 6px;
}
.btn-double-left-border {
	border-left-width: 6px;
}
.btn-big.btn-double-right-border {
	border-right-width: 7px;
}
.btn-big.btn-double-left-border {
	border-left-width: 7px;
}
.btn:focus {
	box-shadow: none;
}
.btn-yellow {
	background-color: #F6A000;
	border: 1px solid #F6A000;
	color: #fff;
}
.btn-white {
	border: 1.04px solid #FFFFFF;
	color: #fff;
}
.btn-yellow-reverse {
	border: 1px solid #D8D8D8;	
	border-radius: 3px;
	color: #000;
	font-size: 10px;	
	font-weight: bold;	
	letter-spacing: 0.64px;	
	line-height: 10px;
}
.btn-black {
	background-color: #171717;
	border-color: #171717;
	color: #fff;
}
.btn-yellow:hover,
.btn-black:hover {
	background-color: #D8D8D8;
	border-color: #d8d8d8;
	color: #4A4A4A;
}
.btn-yellow-reverse:focus,
.btn-yellow-reverse:hover {
	background-color: #F6A000;
	border-color: #F5A000;
	color: #fff;
}
.btn-yellow:focus,
.btn-black:focus {
	background-color: transparent;
	color: #000;
}
.news-big:hover .btn-yellow {
	background-color: transparent;
	color: #fff;
}
.btn-gray {
	border: 1px solid #9B9B9B;	
	border-radius: 13.6px;	
	background-color: #FFFFFF;
}
.btn-lightgray {
	border: 1px solid rgba(157,175,189,0.51);	
	border-radius: 3px;	
	background-color: #FFFFFF;
	color: #9B9B9B;
	letter-spacing: 0.92px;	
	line-height: 14px;
}
.btn-gray:hover, .btn-lightgray:hover {
	border: 1px solid #F6A000;
} 
.btn-gray:hover path {
	fill: #F6A000;
}
.btn-gray:focus, .btn-lightgray:focus {
	background-color: rgba(252,224,197,0.4);
}
.form-control.is-invalid {
    border-color: #dc3545 !important;
}
.h2 {
	font-size: 36px;	
	font-weight: 800;	
	line-height: 75px;
	margin-bottom: 2.5rem;
}
.h2 span:not(.current) {
	color: #797979;
	font-weight: normal;
}
h3 {
	color: #000000;	
	font-size: 36px;	
	font-weight: 800;	
	line-height: 44px;
	margin-bottom: 40px;
}
h4 {
	color: #000000;	
	font-size: 24px;	
	font-weight: 800;	
	line-height: 40px;
}
.h4-border:before,
.h3-border:before,
.p-border:before {
	content: "";
	position: absolute;
	right: 100%;
	margin: 0 15px;
	background: #F6A000;
}
.h3-border:before {
	height: 7px;	
	width: 69px;
	top: 20px;
}
.h4-border:before {
	height: 6px;
	width: 45px;
	top: 17px;
}
.p-border:before {
	height: 6px;
	width: 45px;
	top: 10px;
}
.container {
	max-width: 1400px;
}
.header {
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9;
	padding: 30px 0;
	font-weight: bold;	
	letter-spacing: 0.33px;	
	line-height: 16px;
}
.header.position-fixed {
	background: #fff;
	box-shadow: 0 20px 30px 0 rgba(0,0,0,0.1);
}
.header.position-fixed.position-absolute {
	background: #171717;
}
.header a {
	text-decoration: none;
}
a.nav-link {
	color: #141416;
}
.position-absolute.header a.nav-link {
	color: #fff;
}
.dropdown.show .dropdown-toggle {
	z-index: 9999;
	background: #fff;
	position: relative;
	border-radius: 2px 2px 0 0;
}
.dropdown.show a.nav-link {
	color: #141416;
}
.dropdown-menu {
	min-width: 100%;
	width: 100%;
	margin: 0;
	padding-top: 0;
	border: none;
	border-radius: 0 0 2px 2px;
	box-shadow: 0 2px 25px 0 rgba(0,0,0,0.09);
}
.dropdown-menu .nav-link:hover {
	background-color: #F6A000;
	color: #fff;
}
.nav-link-main span {
	position: relative;
}
.nav-link-main:hover span:after  {
	content: "";
	background-color: #F6A000;
	height: 3px;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
}
.dropdown.show .nav-link-main span::after {
	display: none;
}
.nav-link-main.current {
	color: #F6A000;
}
.breadcrumbs {
	margin-top: 20px;
	margin-bottom: 15px;
	color: #F8A100;
	font-size: 11px;	
	font-weight: bold;	
	letter-spacing: 0.23px;
}
.breadcrumbs a {
	text-decoration: none;
}
.breadcrumbs ul {
	margin: 0;
}
.main-x {
	overflow: hidden;
}
.first-screen {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.mainpage-slider-container {
	flex: 1 1 100%;
	position: relative;
}
.main-slider .slick-list,
.main-slider .slick-track,
.main-slider .slick-slide > div {
	height: 100%;
	width: 100%;
}
.main-slide {
	display: flex;
	line-height: 0;
	background-size: cover;
	background-position: 50%;
	padding-bottom: 50px;
	padding-top: 200px;
}
.main-slide img {
    object-fit: cover;
    top: 0;
    left: 0;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
}
.slick-current .main-slide  img {
	animation-duration: 5s;
	animation-name: imgLoading;
	transition: .1s;
	animation-fill-mode: forwards;
}
@keyframes imgLoading {
    from {transform: scale(1)}
    to {transform: scale(1.3)}
}
.main-slider-content {
	color: #fff;
}
.main-slider-content .h1 {
	font-weight: bold;	
	letter-spacing: 0.94px;	
	line-height: 40px;
	margin-bottom: 30px;
}
.main-slider-content .h1 span {
	font-weight: 800;
	letter-spacing: 2.2px;
	line-height: 140px;
	font-size: 105.6px;
	display: block;
}
.slick-current .main-slider-content .h1 span {
	animation-duration: 1s;
	animation-name: h1Animation;
	animation-fill-mode: forwards;
}
@keyframes h1Animation {
    from {transform: translateX(-100%)}
    to {transform: translateX(0%)}
}
.main-slider-dots {
	bottom: 57px;
	right: 57px;
}
.main-slider-dots .slick-dots {
	padding: 0;
	margin: 0;
	list-style: none;
}
.main-slider-dots button {
	padding: 10px 0;
	opacity: 0.25;	
	color: #FFFFFF;	
	font-family: "Open Sans";	
	font-size: 16px;	
	font-weight: bold;	
	letter-spacing: 0.33px;	
	line-height: 16px;
	background: transparent;
	border: 0;
	outline: none;
	cursor: pointer;
}
.main-slider-dots .slick-active button ,
.main-slider-dots button:hover {
	opacity: 1;
}
.main-slider-tabs-img {
	background-color: #F6A000;
	padding-right: 50%;
	line-height: 0;
}
.main-slider-tabs-img div {
	overflow: hidden;
}
.main-slider-tabs .slick-current {
	position: relative;
}
.main-slider-tabs .slick-list,
.main-slider-tabs .slick-track,
.main-slider-tabs .slick-slide  > div {
	height: 100%;
	width: 100%;
	display: flex !important;
	align-items: stretch;
}
.main-slider-tabs .slick-slide {
	float: none;
	align
}
.slick-current .main-slider-tabs-img:before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	background: #fff;
	opacity: .25;
	animation-duration: 5s;
	animation-name: tabsLoading;
	animation-fill-mode: forwards;
}
@keyframes tabsLoading {
    from {width: 0px;}
    to {width: 50%;}
}
.main-slider-tabs img {
	transition: .2s;
	object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
}
.main-slider-tabs:hover .slick-active img {
	transform: scale(1.2);
}
.main-slider-tabs .slick-arrow {
	position: absolute;
	border: none;
	background-color: transparent;
	text-indent: -99999px;
	top: 0%;
	bottom: 0;
	width: 20px;
	height: 14px;
	background-position: 50%;
	background-size: contain;
	background-repeat: no-repeat;
	margin: auto 5px;
	outline: none;
	cursor: pointer;
	transition: .3s;
	z-index: 99;
}
.main-slider-tabs .slick-arrow:hover {
	opacity: 0.49;
}
.main-slider-tabs .slick-arrow:focus {
	transform: scale(.8);
}
.main-slider-tabs .slick-next {
	left: 75%;
	background-image: url(../img/arrw\ rht-1.svg);
}
.main-slider-tabs .slick-prev {
	right: 25%;
	background-image: url(../img/arrw\ lft-1.svg);
}
.first-screen_bottom {
	line-height: 0;
}
.mainpage-count {
	color: #000000;
	font-weight: 600;	
	letter-spacing: 0.09px;	
	line-height: 36px;
	padding: 1.5rem 0;
}
.mainpage-count span {
	color: #141416;
	font-size: 48px;	
	font-weight: 800;	
	letter-spacing: 1px;	
	line-height: 65px;
	display: block;
}
.content {
	margin-top: 5rem;
	margin-bottom: 5rem;
}
.news-col {
	padding: 15px;
}
.news {
	text-decoration: none;
	border-radius: 5px;
	position: relative;
}
.news p {
	font-size: 14px;
	margin: 0;
}
.news .btn {margin: 25px 0 0;}
a.news-big {
	color: #fff;
	padding: 2rem;
	background-size: cover;
	background-position: 50% 50%; 
	overflow: hidden;
}
.news-big img {
	position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    transform: translateX(-50%) translateY(-50%);
	transition: .3s;
	z-index: -1;
}
a.news-small {
	color: #000;
	border: 1px solid rgba(157,175,189,0.51);
	padding: 3rem 2rem;
	transition: background-color .3s, color .3s;
}
a.news-extrasmall {
	color: #000;
	border: 1px solid rgba(157,175,189,0.51);
	padding: 2rem;
	transition: background-color .3s, color .3s;
}
a.news-small:hover,
a.news-extrasmall:hover {
	background: #F5A000 url(../img/arrw\ rht-1.svg) bottom 10px right 10px no-repeat;
	border-color: #F5A000;
	color: #fff;
}
.news-big::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #000000 100%);
}
.news-big:hover img {
	transform: translateX(-50%) translateY(-50%) scale(1.2);
}
.news .news-date {
	font-size: 14px;		
	letter-spacing: 1px;	
	line-height: 19px;
	position: relative;
}
.news-big .news-date {
	font-weight: bold;
}
.news-small .news-date {
	color: #F5A000;
}
.news-extrasmall .news-date {
	color: #F5A000;
	font-size: 12px;	
	line-height: 15px;
}
a.news-small:hover .news-date,
a.news-extrasmall:hover .news-date,
a.news-extrasmall:hover p,
a.news-small:hover p {color: #fff;}
.news-big .news-header {
	font-size: 32px;	
	font-weight: bold;	
	line-height: 46px;
	margin: 32px 0 10px;
	position: relative;
}
.news-big p {	
	line-height: 24px;
	position: relative;
}
.news-extrasmall p {	
	font-size: 12.04px;	
	line-height: 20px;
}
.news-small .news-header {
	font-size: 18px;	
	font-weight: bold;	
	letter-spacing: -0.5px;	
	line-height: 26px;
	margin: 20px 0;
}
#newspage .news-small .news-header {
	height: 78px;
	overflow: hidden;
}
.news-extrasmall .news-header {
	font-size: 15px;	
	font-weight: bold;	
	line-height: 22px;
	margin: 15px 0;
	height: 66px;
	overflow: hidden;
}
.news-small .ya-share2,
.news-extrasmall .ya-share2 {
	margin-top: 2rem;
}
.news-small p,
.news-extrasmall p {
	color: #797979;
}
#news .news-small p {
	line-height: 18px;
}
.morenews {
	color: #4A4A4A;
	font-size: 10px;	
	font-weight: 800;	
	letter-spacing: 1px;	
	line-height: 14px;
	border-radius: 5px;
	box-shadow: 0 0 30px 0 rgba(0,0,0,0.1);
	padding: 1rem;
	text-decoration: none;
}
.product {
	font-size: 16px;	
	line-height: 26px;
	overflow: hidden;
}
.product-logo {
	flex: 0 0 100%;
}
.product-desc {
	flex: 0 0 100%;
	padding: 55px;
}
.product a {
	color: #fff;
	text-decoration: none;
}
.product-desc strong {
	letter-spacing: 0.09px;
}
.product-desc ul {
	padding-left: 20px;
}
.product:hover {
	border: 1px solid #F6A000;	
	background-color: #F6A000;	
	box-shadow: 0 15px 12px 0 rgba(246,123,0,0.13), 0 20px 30px 0 rgba(251,221,166,0.53);
}
.product:hover .product-logo {
	visibility: hidden;
	flex: 0 0 0%;
}
.product:hover .product-desc {
	visibility: visible !important;
}
.vacancies [class*=col-] {
	padding: 15px;
}
.vacancy {
	border: 1px solid #F6A000;	
	border-radius: 3px;	
	background-color: #FFFFFF;	
	box-shadow: 0 20px 30px 0 #FEF2DC;
	color: #000000;
	text-decoration: none;
	padding: 3rem;
	font-size: 18px;	
	font-weight: bold;	
	line-height: 16px;
	overflow: hidden;
	position: relative;
}
.vacancy:hover .vacancy-position {
	visibility: hidden;
}
.vacancy:hover .vacancy-btn {
	visibility: visible !important;
	background-color: #F6A000;
	color: #FFFFFF;
	top: 0;
	left: 0;
}
.cert-header {
	color: #000;
	font-size: 24px;	
	font-weight: 800;	
	line-height: 40px;
	margin-bottom: 1rem;
}
.cert-link {
	color: #F6A000;
}
.tab-list, .tab-a-list {
	margin: 0;
}
.tabs hr {
	margin-bottom: 65px;
	border-width: 2px;
}
.tab-item {
	opacity: 0.4;
	color: #797979;	
	font-weight: 600;	
	letter-spacing: 1px;	
	line-height: 36px;
	transition: .2s;
	padding: 9px 0;
	margin: 0 25px;
	cursor: pointer;
}
.tab-item a {
	text-decoration: none;
}
.tab-item.current,
.tab-item.current a {
	color: #141416;
	opacity: 1;
	position: relative;
}
.tab-list-dark .tab-item {
	color: #FFFFFF;
}
.tab-item.current:after {
	content: "";
	width: 100%;
	height: 4px;
	background-color: #F6A000;
	top: 100%;
	left: 0;
	position: absolute;
}
.tab-content {
	color: #797979;
	font-size: 16px;	
	line-height: 28px;
}
.switch-tabs {
	background-color: #171717;
	padding: 70px 0;
}
.tabs-slider .slick-slide > div {
	display: flex;
}
.tab-slide {
	padding: 0 13px 68px;
}
.tab-slide-partner {
	border: 1px solid rgba(157,175,189,0.51);
	background: #fff;
}
.tab-slide-partner img {
	filter: grayscale(100%);
}
.tab-slide-partner:hover {
	box-shadow: 0 4px 7px 0 rgba(246,123,0,0.45), 0 22px 44px 12px rgba(246,160,0,0.37);
	border: 1px solid #F6A000;
}
.tab-slide-partner:hover img {
	filter: grayscale(0%);
}
.switch-tabs .slick-arrow {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 50%;
	margin: -12px 20px;
	text-indent: -99999px;
	border: none;
	background-size: contain;
	background-color: transparent;
	background-repeat: no-repeat;
	cursor: pointer;
	outline: none;
	background-image: url(../img/arrw\ rht.svg);
}
.switch-tabs .slick-prev {
	right: 100%;
	transform: rotate(180deg)
}
.switch-tabs .slick-next {
	left: 100%;
}
.switch-tabs .slick-arrow:hover {
	background-image: url(../img//arrw\ hover.svg);
}
.switch-tabs .slick-dots {
	position: absolute;
    bottom: 0%;
    left: 0;
    right: 0;
	text-align: center;
	padding: 0;
	margin: 0;
}
.switch-tabs .slick-dots li {
	display: inline-block;
	margin: 0 5px;
}
.switch-tabs .slick-dots button {
	outline: none;
	border-radius: 100%;
	border: 1px solid #979797;
	width: 10px;
	height: 10px;
	text-indent: -99999px;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}
.switch-tabs .slick-dots .slick-active button {
	background-color: #F6A000;
}
.reviews-tabs .slick-track {
	display: flex;
	align-items: center;
}
.reviews-tabs .slick-slide {
	padding: 25px;
	float: none !important;
	outline: none;
}
.reviews-tabs img {
	width: 68px;
	margin: 0 auto;
	border-radius: 100%;	
	border: 1px solid #9DAFBD;
	filter: grayscale(100%);
}
.reviews-tabs .slick-current img {
	filter: grayscale(0);
	width: 166px;	
	border-color: #F6A000;
}
.reviews-contents {
	padding: 50px 0;
	margin-bottom: 10px;
}
.reviews-contents .slick-arrow {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 100%;
	margin: 0 5px;
	text-indent: -99999px;
	border: none;
	background-size: contain;
	background-color: transparent;
	background-repeat: no-repeat;
	cursor: pointer;
	outline: none;
	background-image: url(../img/arrw\ rht.svg);
}
.reviews-contents .slick-prev {
	right: 50%;
	transform: rotate(180deg)
}
.reviews-contents .slick-next {
	left: 50%;
}
.reviews-contents .slick-arrow:hover {
	background-image: url(../img//arrw\ hover.svg);
}
.reviews-content strong {
	font-size: 14px;
	letter-spacing: 1px;	
	line-height: 19px;
}
.reviews-content i {
	color: #797979;
	font-size: 12px;
	line-height: 20px;
}
.subscribe-header {
	color: #3F3F3F;
	font-size: 18px;	
	font-weight: 800;	
	letter-spacing: 0.38px;	
	line-height: 24px;
}
.subscribe-form .form-group {
	flex-shrink: 1;
	flex-grow: 1;
	margin: 0;
	padding-right: 4px;
}
.form-control {
	border: 1px solid #D8D8D8;	
	border-radius: 3px;	
	background-color: #FFFFFF;
	color: #797979;
	font-family: "Open Sans";	
	font-size: 12px;	
	line-height: 15px;
	padding: 17px 16px 16px;
}
.subscribe-form .btn-yellow {
	font-size: 10px;	
	font-weight: bold;	
	letter-spacing: 0.64px;	
	line-height: 10px;
	padding: 19px 20px;
}
.novelties-header {
	font-size: 20px;	
	font-weight: 800;	
	letter-spacing: 0.42px;	
	line-height: 24px;
	margin-bottom: 12px;
}
.novelties-authors {
	color: #797979;	
	font-size: 14px;	
	letter-spacing: 0.29px;	
	line-height: 34px;
}
.novelties p {
	color: #797979;	
	letter-spacing: 0.33px;	
	line-height: 24px;
	margin: 28px 0 36px;
}
.novelties-list {
	margin-top: 115px;
}
.novelties-list a {
	color: #141416;
	font-size: 12px;	
	line-height: 20px;
	text-decoration: none;
}
.novelties-list a:hover {
	text-decoration: underline;
	color: #F6A000;
}
.novelties-list span {
	margin-top: 19px;
}
.switch-content {
	cursor: pointer;
}
#vacancy, #history, #vacancy-webdev {
	color: #fff;
}
#vkr {
	background-color: #1792A7;
	color: #fff;
}
#books-mobile {
	background-color: #FCE0C5;
}
#vacancy {
	background: url(../img/vacancy/banner.png) 50%/cover;
	padding: 150px 0;
}
#team {
	background: url(../img/team/banner.png) 50%/cover;
	color: #fff;
	padding: 50px 0 150px;
}
#vacancy-webdev {
	background: url(../img/vacancy/banner-webdev.png) 50%/cover;
	padding: 4rem 0 2rem;
}
#university {
	background: url(../img/eios/banner.png) 50%/cover;
	padding: 150px 0;
	color: #fff;
}
#mobile {
	background: url(../img/mobile/banner.png) 50%/cover;
	padding: 150px 0;
	color: #fff;
}
#history {
	background-color: #F6A000;
	padding: 60px 0 120px;
}
#contacts {
	background: url(../img/contacts/banner.png) 50%/cover;
	padding: 100px 0;
}
#publish {
	background: #FDE4CC;
	padding: 4rem 0 2rem;
	position: relative;
}
#publisher {
	background: url(../img/publishers/bnr.png) 50%/cover;
	padding: 4rem 0 2rem;
	color: #fff;
}
#school {
	background: url(../img/schools/bnr.png) 50%/cover;
	padding: 4rem 0 2rem;
	color: #fff;
}
#business {
	background: url(../img/business/bnr.png) 50%/cover;
	padding: 4rem 0 2rem;
	color: #fff;
}
#price {
	background: url(../img/price/banner.png) 50%/cover;
	padding: 4.5rem 0 2.5rem;
	color: #fff;
}
#right {
	background: url(../img/right/bnr.png) 50%/cover;
	padding: 4.5rem 0 2.5rem;
	color: #fff;
}
#event {
	background-position: 50% 50%;
	background-size: cover;
	padding: 3rem 0 6rem;
	color: #fff;
}
#authors {
	background: url(../img/authors/bnr.png) 50%/cover;
	padding: 4.5rem 0 2.5rem;
	color: #fff;
}
#prepress {
	background: url(../img/prepress/bnr.png) 50%/cover;
	padding: 4.5rem 0 2.5rem;
	color: #fff;
}
#doi {
	background: url(../img/doi/bnr.png) 50%/cover;
	padding: 4.5rem 0 2.5rem;
	color: #fff;
}
#rinz {
	background: url(../img/rinz/bnr.png) 50%/cover;
	padding: 4.5rem 0 2.5rem;
}
#catalog {
	background: url(../img/catalog/bnr\ advertizw.png) 50%/cover;
	padding: 4rem 0;
	color: #fff;
}
.publish-img {
	bottom: 0;
	right: 0;
	max-height: 65%;
}
.productpage-banner {
	color: #000;
}
#vkr .productpage-img {
	margin: -3rem 0;
}
#books-mobile .productpage-img {
	margin: -3rem -2rem 0;
}
#books-mobile .productpage-header-desc {
	margin-bottom: 3rem;
}
#wv-reader .productpage-img {
	margin: -3rem -2rem 0;
}
h1 {
	font-size: 72px;	
	font-weight: 800;	
	line-height: 78px;
}
.productpage-banner-small h1 {
	font-size: 64px;	
	letter-spacing: 1.33px;	
	line-height: 74px;
}
.productpage-banner-extrasmall h1 {
	font-size: 48px;
	line-height: 78px;
}
#events h1 span:after {
	content: "";
	background-color: #F6A000;
	height: 3px;
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
}
#events h1 a {
	text-decoration: none;
	color: #CDD6DD;
}
.productpage-header-desc {
	font-size: 20px;	
	line-height: 16px;
	margin-bottom: 4rem;
}
.productpage-banner-small .productpage-header-desc {
	line-height: 33px;
}
.productpage-banner-extrasmall .productpage-header-desc {
	font-size: 14px;	
	letter-spacing: 1px;	
	line-height: 18px;
	margin-bottom: 1rem;
}
#catalog .productpage-header-desc {
	opacity: 0.81;
	font-size: 18px;	
	line-height: 28px;
}
.productpage-desc {
	margin-top: -105px;
}
.productpage-desc-content {
	background: #fff;
	padding: 50px 100px;
	box-shadow: 0 20px 30px 0 rgba(0,0,0,0.1);
}
.rounded-img {
	padding-bottom: 100%;
    background-color: #FDEBD9;
    border-radius: 100%;
	position: relative;
	margin-top: 2rem;
}
.rounded-img img {
	position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: -2rem;
}
.vkr-stats {
	margin: 4rem 0 8rem;
}
.vkr-stat {
	color: #000;
	font-weight: 600;	
	letter-spacing: 0.09px;	
	line-height: 36px;
}
.vkr-stat span {
	display: block;
	color: #1792A7;
	font-size: 48px;	
	font-weight: 800;	
	letter-spacing: 1px;	
	line-height: 65px;
}
.publish-stat {
	color: #000;
	font-size: 14.4px;	
	font-weight: 600;	
	letter-spacing: 0.08px;	
	line-height: 32px;
}
.publish-stat span {
	display: block;
	color: #EC6D16;
	font-size: 43.2px;	
	font-weight: 800;	
	letter-spacing: 0.9px;	
	line-height: 59px;
	text-indent: -30px;
}
.productpage-desc-header {
	font-size: 20px;
	line-height: 36px;
	margin-bottom: 2rem;
}
.productpage-desc-header:last-child {
	margin: 0;
}
.productpage-desc-header span {
	display: block;
	color: #F5A000;
}
.productpage-desc-p {
	color: #797979;
	font-size: 20px;
	line-height: 36px;
}
.mobile-product {
	transition: .3s;
}
.mobile-product-orange {
	background-color: #FCE0C5;
}
.mobile-product-gray {
	background-color: #EFEFEF;
}
.mobile-product-text {
	padding: 4rem;
	color: #fff;
}
.mobile-product-btn {
	padding: 15px;
	overflow: hidden;
}
.mobile-product-btn .btn {
	color: #FFFFFF;	
	font-size: 10px;	
	font-weight: bold;	
	letter-spacing: 1px;	
	line-height: 14px;	
	border-radius: 5px;	
	position: relative;
	box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}
.btn-orange {
	background-color: #F6A000;
}
.btn-gray1 {
	border-radius: 5px;	
	background-color: #636567;
}
.mobile-product img {
	bottom: -2rem;
	left: 0;
	right: 0;
	margin: auto;
}
.mobile-product-orange:hover {
	background-color: #F6A000;
	box-shadow: 0 15px 12px 0 rgba(246,123,0,0.13), 0 20px 30px 0 rgba(251,221,166,0.53);
}
.mobile-product-gray:hover {
	background-color: #828486;
	box-shadow: 0 15px 12px 0 rgba(246,123,0,0.13), 0 20px 30px 0 rgba(251,221,166,0.53);
}
.mobile-product:hover .btn {
	box-shadow: none;
	background: transparent;
}
.mobile-product:hover .mobile-product-text {
	visibility: visible !important;
}
.mobile-product:hover img {
	visibility: hidden;
}
.user {
	margin-top: 2rem;
}
.users img {
	max-width: 33%;
}
.users p {
	color: #797979;
}
.users strong {
	color: #000;
}
.vkr-list li {
	position: relative;
	margin: 1rem 0;
}
.vkr-list span {
	display: inline-block;
	vertical-align: middle;
}
.vkr-list li:before {
	content: "";
	width: 18px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 1rem;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0 50%;
}
.vkr-list-1:before {
	background-image: url(../img/vkr/server.svg);
}
.vkr-list-2:before {
	background-image: url(../img/vkr/search.svg);
}
.vkr-list-3:before {
	background-image: url(../img/vkr/portf.svg);
}
.vkr-list-4:before {
	background-image: url(../img/vkr/stat.svg);
}
.vkr-desc {
	color: #797979;
	font-size: 16px;	
	line-height: 28px;
}
.vkr-desc .h2 {
	color: #1792A7;	
	font-size: 36px;	
	font-weight: 800;	
	line-height: 52px;
	margin-bottom: 3rem;
}
.books-mobile-desc .h2 {
	background: url(../img/books-mobile/10\ 000.svg) 50%/contain no-repeat;
	padding: 1rem 0;
	color: #000000;
	font-weight: bold;	
	line-height: 52px;
	margin: 0;
}
.wv-reader-desc .h2 {
	color: #000000;
	font-size: 24px;	
	font-weight: 800;	
	line-height: 40px;
	margin: 0;
}
.vacancy-desc p,
.vacancy-desc ul,
.vacancy-desc ol {
	color: #797979;
}
.vacancy-desc strong {
	color: #000;
	font-size: 1.2em;
}
.vacancy-desc b {
	color: #000;
}
.vacancy-greeting {
	color: #797979;
	line-height: 28px;
}
.vacancy-greeting-name {
	color: #000;
	margin-top: 2rem;
}
.vacancy-greeting-pos {
	font-size: 14px;
}
.tab-contents-slider {
	color: #797979;	
	line-height: 28px;
}
.tab-contents-slider .h3 {
	color: #000000;	
	font-size: 36px;	
	font-weight: 800;	
	line-height: 40px;
	margin-bottom: 30px;
}
.tab-contents-slider strong {
	color: #000;
}
.tab-contents-slider ul {
	padding-left: 20px;
	margin: 0;
}
.tab-contents-slider .slick-arrow,
#publish-reviews .slick-arrow {
	width: 24px;
    height: 24px;
    position: absolute;
    bottom: 0%;
    margin: 0 -15px;
    text-indent: -99999px;
    border: none;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    outline: none;
    background-image: url(../img/arrw\ rht.svg);
}
.tab-contents-slider .slick-arrow:hover,
#publish-reviews .slick-arrow:hover {
	background-image: url(../img//arrw\ hover.svg);
}
.tab-contents-slider .slick-prev {
	left: 0%;
    transform: rotate(180deg);
}
.tab-contents-slider .slick-next {
	right: 0%;
}
#publish-reviews .slick-prev {
	left: 33%;
	transform: rotate(180deg);
	margin: 0 5px;
}
#publish-reviews .slick-next {
	left: 33%;
	margin: 0 40px;
}
#publish-reviews {
	padding-bottom: 40px;
}
.tab-contents-counter {
	color: #9B9B9B;	
	font-weight: 800;	
	letter-spacing: 1px;	
	line-height: 36px;
}
.slider-container {
	padding: 1rem;
}
.slider-container-inner {
	position: absolute;
}
.slider-content {
	overflow: hidden;
}
.tab-contents-slider .slider-arrow {
	width: 56px;
	height: 56px;
	background-color: #F3A005;
	outline: none;
	border: none;
	text-indent: -999999px;
	position: absolute;
	bottom: 0;
	cursor: pointer;
}
.tab-contents-slider .slider-prev {
	right: 71px;
}
.tab-contents-slider .slider-next {
	right: 15px;
}
.tab-contents-slider .slider-arrow:after {
	content: "";
	width: 15px;
	width: 20px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.tab-contents-slider .slider-prev:after {
	background-image: url(../img/arrw\ lft-1.svg);
}
.tab-contents-slider .slider-next:after {
	background-image: url(../img/arrw\ rht-1.svg);
}
.tab-contents-slider .slider-arrow:hover:after {
	opacity: 0.49;
}
.history [class*=col-] {
	padding: 0 2rem 4rem;
	color: #797979;
}
.history [class*=col-]:nth-child(2n + 1) {
	border-right: 1px solid #F5A000;
}
.history [class*=col-]:nth-child(2n) {
	border-left: 1px solid #F5A000;
}
.history .history-year::before {
	content: "";
	width: 18px;
	height: 18px;
	position: absolute;
	top: 50%;
	background: #F5A000;
	border-radius: 100%;
	margin: -9px 22px;
}
.history [class*=col-]:nth-child(2n + 1) .history-year::before {
	left: 100%;
}
.history [class*=col-]:nth-child(2n + 1) .history-year {
	text-align: right;
}
.history [class*=col-]:nth-child(2n) .history-year::before {
	right: 100%;
}
.history-year {
	color: #F5A000;	
	font-size: 48px;	
	font-weight: bold;	
	line-height: 36px;
	position: relative;
	margin-top: -9px;
}
.history-header {
	margin: 1.5rem 0 2rem;
}
.history .small-img {
	max-width: 60%;
}
.benefits {
	color: #797979;
}
.benefit-img {
	height: 4rem;
	margin-top: 2rem;
}
.benefit-img span {
	color: #F6A50F;	
	font-size: 36px;	
	font-weight: 800;	
	line-height: 24px;
}
.benefit-next {
	overflow: hidden;
}
.benefit-next:before {
	content: "";
	background: #F6A000;
	height: 1px;
	position: absolute;
	top: 20px;
	left: 45px;
	right: 0;
	margin: auto;
	z-index: 2;
}
.business-algorithm .benefit-next:before {
	background: #9B9B9B;
}
.benefit-next:after {
	content: "";
	border-left: 10px solid #F6A000;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	position: absolute;
	top: 15px;
	right: -1px;
}
.business-algorithm .benefit-next:after {
	border-left-color: #9B9B9B;
}
.benefit-next span:after {
	content: "";
	border-left: 10px solid #fff;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	position: absolute;
	top: 15px;
	right: 1px;
	z-index: 1;
}
.business-algorithm .benefit-next span:after {
	border-left-color: #f5f5f5;
}
#publish-benefits {
	box-shadow: 0 -3px 30px 0 rgba(0,0,0,0.1);
	padding: 5rem 0;
}
.publish-reviewer-name {
	font-size: 14px;	
	font-weight: bold;	
	letter-spacing: 1px;	
	line-height: 19px;
	margin: 3rem 0 1rem;
}
.publish-reviewer-pos {
	color: #797979;
	font-size: 12px;	
	line-height: 20px;
}
.publish-review-num {
	color: #F6A40D;
	font-size: 14px;	
	font-weight: bold;	
	letter-spacing: 1px;	
	line-height: 19px;
}
.university-desc p {
	color: #797979;
	line-height: 28px;
}
.university-desc {
	margin-bottom: 2rem;
}
.fgos {
	position: relative;
}
.fgos img {
	position: absolute;
	top:0;
	bottom:0;
	right: 0%;
	margin: auto;
}
.fgos h3 span {
	color: #797979;
	font-weight: normal;
	font-size: .6em;
}
.fgos [class*=col-] {
	padding: 0 3rem;
	position: relative;
}
.fgos [class*=col-]:before {
	content: "«";
	color: #F5A000;
	position: absolute;
	top: 5rem;
	right: 100%;
	font-size: 126px;
   	font-weight: bold;
}
.fgos ul {
	margin-left: -40px;
}
.wv-reader-collection {
	background-color: #F5F5F5;
	box-shadow: 0 20px 30px 0 rgba(0,0,0,0.1);
	padding-top: 5rem;
}
.wv-reader-collection img {
	max-width: 33%;
}
.columns-2 {
	-moz-column-count: 2;
    -moz-column-gap: 55px;
    -webkit-column-count: 2;
    -webkit-column-gap: 55px;
    column-count: 2;
	column-gap: 55px;
	padding: 0;
}
.wv-reader-develop-header {
	color: #000;
	font-size: 42px;	
	font-weight: 800;	
	line-height: 49px;
	margin: -5rem 0 3rem;
}
.wv-reader-develop-p {
	line-height: 28px;
	color: #797979;
}
.wv-reader-develop-i {
	font-size: 12px;	
	line-height: 24px;
}
.download-link {
	position: relative;
	padding-left: 15px;
	margin-left: 70px;
}
.download-link:before {
	content: "";
	position: absolute;
	top: 0;
	right: 100%;
	width: 84px;
	height: 84px;
}
.download-mobile:before {
	background-image: url(../img/mobile/reader\ logo.svg);
}
.download-wv:before {
	background-image: url(../img/mobile/wv.svg);
}
.download-link-header {
	font-size: 24px;	
	font-weight: 800;	
	letter-spacing: 0.3px;	
	line-height: 33px;
	color: #000;
	margin-bottom: 15px;
}
.condition {
	background-color: #EFEFEF;
	padding: 44px 5px 0;
	margin: 0 10px;
	color: #797979;
}
.condition.orange {
	color: #fff;
	background-color: #F3A005;
}
.condition-num {
	color: #fff;	
	font-size: 144px;	
	font-weight: 800;	
	line-height: 112px;
}
.condition.orange .condition-num {
	opacity: .37;
}
.condition-text {
	line-height: 28px;
	padding: 0 20px 40px;
}
.condition-header {
	color: #000;
	font-size: 18px;
	margin-bottom: 1rem;
}
.condition.orange .condition-header {
	color: #fff;
}
.condition-star {
	color: #141416;	
	font-size: 18px;	
	font-weight: 600;	
	line-height: 36px;
	margin-top: 5rem;
}
.shadow {
	box-shadow: 0 20px 30px 0 rgba(0,0,0,0.1);
}
.mobile.shadow {
	padding-bottom: 1rem;
	color: #000000;	
	font-weight: 600;	
	letter-spacing: 0.09px;	
	line-height: 36px;
}
.ipr-books-stat:before {
	content: "";
	position: absolute;
	width: 1px;
	height: 100%;
	right: 0;
	top: 0;
	background: #fff;
	z-index: 99;
}
.ipr-books-stat:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	left: 0;
	bottom: 0%;
	background: #fff;
	z-index: 99;
}
.ipr-books-stat span {
	color: #EC6D16;
	font-size: 48px;	
	font-weight: 800;	
	letter-spacing: 1px;	
	line-height: 65px;
	display: block;
}
.ipr-books-stat [class*=col-] {
	border-bottom: 1px solid #CCD5DC;
	border-right: 1px solid #CCD5DC;
	padding: 15px;
}
.ipr-books-desc {
	color: #797979;
	line-height: 28px;
}
.ipr-books-desc-header {
	color: #000;
	font-size: 22px;
}
.ipr-books-desc-div:before {
	content: "";
	height: 6px;	
	width: 41px;	
	background-color: #F47900;
	margin: 2rem 0;
	display: block;
}
.rounded-img-phone {
	margin: 0;
}
.rounded-img-phone img {
    left: 50%;
    right: auto;
	top: auto;
	bottom: -2rem;
	margin-left: -2rem;
}
.rounded-img-notebook {
	background-color: rgb(216, 216, 216, .39);
}
.rounded-img-notebook img {
    margin: -2rem auto 0;
    top: 0;
    max-width: 75%;
    max-height: none;
}
.ipr-books-top-offset-2 {
	margin-top: 2rem;
}
.ipr-books-top-offset-12 {
	margin-top: 12rem;
}
.eios-slider .btn {
	margin: .5rem 40px;
}
.eios-slider .btn-big {
	display: block;
	margin-right: 0;
	margin-left: 0;
	position: relative;
	z-index: 1;
}
.eios-slider .btn-double-left-border {
	margin-right: 5px;
}
.eios-slider .btn-double-right-border {
	margin-left: 5px;
}
.eios-scheme {
	position: relative;
}
.eios-scheme:after {
	content: "";
	position: absolute;
	top: 2rem;
	bottom: 2rem;
	right: 100%;
	width: 45px;
	background: url(../img/eios/scheme6.jpg) 50%/cover no-repeat;
	margin: auto -5px;
}
.eios-scheme .btn-big:not(.btn-yellow-secondary):before {
	content: "";
	position: absolute;
	bottom: 100%;
    right: 0;
    left: 0;
    margin: 1px auto;
    width: 1px;
    height: .5rem;
    background: #F5A000;
    z-index: 0;
}
.eios-scheme .btn-big:not(.btn-yellow-secondary):after {
	content: "";
	position: absolute;
	top: 100%;
    right: 0;
    left: 0;
    margin: 1px auto;
    width: 1px;
    height: .5rem;
    background: #F5A000;
    z-index: 0;
}
.publish-row [class*=col-] {
	padding: 5rem;
	box-shadow: 0 20px 30px 0 rgba(0,0,0,0.1);
	background-color: #F5F5F5;
}
.publish-row [class*=col-]:first-child {
	background-color: #FDEBD9;
}
.publish-row p {
	font-weight: bold;
	color: #000;
	max-width: 500px;
	margin: 0 auto 4rem;
}
.publish-back {
	top: 1rem;
	right: 1rem;
}
.publish-ul img {
	max-width: 80%;
}
.publish-ul p {
	color: #797979;
	margin: 5rem 0;
}
.publish-img {
	max-height: 170px;
}
.contacts [class*=col-] {
	margin-top: 1rem;
}
.contacts h5 {
	font-weight: bold;
	margin: 0 0 2rem;
}
.contacts p {
	color: #797979;
}
.contacts a {
	color: #F6A000;
}
.partners-list {
	margin-top: 5rem;
}
.partners-list img {
	max-height: 75px;
	margin: 0 1rem;
}
.publisher-item {
	border: 1px solid #ECECEC;
	box-shadow: 0 -3px 30px 0 rgba(0,0,0,0.1);
	border-left: 9px solid #F6A000;
	padding: 2rem;
	margin: 0;
	color: #000000;	
	font-size: 14px;	
	line-height: 26px;
}
.publisher-item_gray {
	border-left: 9px solid #9B9B9B;
}
.publisher-option {
	color: #797979;
}
.publisher-option_num {
	color: #F6A000;
	font-size: 36px;	
	font-weight: 800;	
	line-height: 56px;
}
.publisher-option_img {
	top: 0;
	left: 0;
	max-width: 150px;
}
.business-list p {
	color: #797979;
}
.business-li-header {
	color: #000;
	font-weight: 800;
	margin: 2rem 0 1rem 0;
	font-size: 20px;
}
.business-list img {
	max-height: 10rem;
}
.business-algorithm {
	background-color: #F5F5F5;
	padding: 5rem 0;
}
.page-menu li {
	line-height: 28px;
	margin: 1rem 0;
}
.page-menu .current a {
	color: #F6A000;
}
.price-item a {
	box-shadow: 0 -3px 30px 0 rgba(0,0,0,0.1);
	border: 1px solid #ECECEC;
	border-left: 4px solid #F6A000;
	text-decoration: none;
	color: #000000;	
	font-size: 14px;	
	font-weight: bold;	
	line-height: 26px;
	padding: 3rem 1rem;
}
.book_stage {
	margin: 2rem 0 5rem;
}
.ipr-book_creation img {
	margin-left: -2rem;
}
.ipr-book_creation .col-9 {
	padding-bottom: 2rem;
	border-left: 3px solid #fff;
}
.col-9.ipr-book_creation-bordered {
	border-left: 3px solid #F6A000;
}
.ipr-book_creation h4 {
	margin-top: -7px;
	line-height: 30px;
}
.ipr-book_creation h4:before {
	content: "";
	background-color: #F5A000;
	width: 18px;
	height: 18px;
	position: absolute;
	top: 0;
	right: 100%;
	border-radius: 100%;
	margin: 0 -7px;
}
.link-show {
	display: none;
}
.link-hide.collapsed {
	display: none;
}
.link-show.collapsed {
	display: block;
}
.authors-image {
	background-color: #FDE4CC;
	padding: 15px 15px 0;
	margin: 2rem 0 7rem;
}
.authors-image .col-9 {
	margin-bottom: -3rem;
}
.btn-cart {
	color: #F8A100;	
	font-weight: bold;	
	letter-spacing: 0.23px;	
	line-height: 16px;
	padding: 7px 10px;
	box-shadow: none;
}
.btn-cart img {
	margin-right: 10px;
}
.catalog-info {
	opacity: 0.4;	
	color: #797979;	
	font-weight: 600;	
	letter-spacing: 1px;	
	line-height: 36px;
}
.catalog p {
	line-height: 22px;
}
.product-img {
	margin: 2rem 0 1rem;
}
.product-statuc {
	color: #7ED321;	
	font-size: 12px;	
	font-weight: bold;	
	line-height: 14px;
}
.product-statuc.gray {
	color: #9DAFBD;
}
.product-author {
	color: #9B9B9B;
	font-size: 14px;	
	line-height: 18px;
}
.filter label {
	color: #000000;
	font-size: 16px;
	font-weight: bold;	
	margin-right: 5px;
}
.filter .custom-select {
	width: auto;
	color: #797979;
	font-size: 16px;
	line-height: 28px;
	height: auto;
}
#sort-popular, #sort-new {
	color: #797979;
	border: 1px solid rgba(157,175,189,0.51);	
	border-radius: 4px;
	padding: 5px;
	margin: 0 20px 0 5px;
}
.asc:after, .desc:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	height: 18px;
	width: 10px;
	background-size: contain;
	background-repeat: no-repeat;
}
.asc:after{
	background-image: url(../img/long-arrow-alt-up-solid.svg);
}
.desc:after {
	background-image: url(../img/long-arrow-alt-down-solid.svg);
}
.team-li {
	padding: 2rem 0;
}
.member-speech {
	top: 0;
	left: 0;
	border: 1px solid #EC6D15;
	background-color: #FFFFFF;	
	box-shadow: 0 20px 30px 0 rgba(0,0,0,0.1);
	padding: 4rem;
	z-index: 1;
	margin-left: 10px;
}
.member-speech:before {
	content: "";
	position: absolute;
	right: 100%;
	top: 148px;
	border-right: 12px solid #EC6D15;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}
.member-speech:after {
	content: "";
	position: absolute;
	right: 100%;
	top: 150px;
	border-right: 10px solid #fff;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}
.member-preview {
	padding: 0 2rem;
}
.member-position {
	font-size: 12px;	
	line-height: 36px;
	color: #9B9B9B;
}
.authors-right-li {
	height: 177px;
	border: 1px solid #ECECEC;
	border-left: 5px solid #F6A000;
	box-shadow: 0 -3px 30px 0 rgba(0,0,0,0.1);
	padding: 1rem;
	margin: 2px 0;
}
.authors-right-li span {
	color: #F5F5F5;
	font-size: 48px;	
	font-weight: 800;	
	line-height: 65px;
	top: 0;
   	left: 30px;
}
.citation:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 100%;
	background: url(../img/right/«.svg) 50%/cover no-repeat;
	width: 98px;
	height: 78px;
	margin: auto 15px;
}
.authors-row {
	margin-bottom: 3rem;
}
.right-header-block {
	background-color: #F8F8F8;
	padding: 3rem 2rem;
	margin: 0 0 5rem -3rem;
}
.authors-type:before,
.authors-type:after {
	content: "";
	width: 290px;
	height: 290px;
	position: absolute;
	top: 0;
	left: -160px;
	background-repeat: no-repeat;
	background-size: contain;
	z-index: -1;
}
.authors-type:after {
	top: 40px;
}
.authors-type-1:before {
	background-image: url(../img/right/1.svg);
}
.authors-type-1:after {
	background-image: url(../img/right/Ink\ Pen.H04.2k.png);
}
.authors-type-2:before {
	background-image: url(../img/right/2.svg);
}
.authors-type-2:after {
	background-image: url(../img/right/Ink\ Pen.H04.2k\ Copy\ 2.png);
}
.right-img {
	right: 0;
	top: 0;
}
.right-bottom-img {
	right: 0;
	bottom: -4rem;
}
.vacancy-form {
	background: #f5f5f5;
	padding: 2rem 0;
	box-shadow: 0 20px 30px 0 rgba(0,0,0,0.1);
}
.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}
.box__file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.vc-form.has-advanced-upload .vc-form-file {
	border: 1px dashed #B4BCC3;
	border-radius: 3px;
	padding: 1rem 3rem;
	margin-bottom: 2rem;
	position: relative;
}
.vc-form.has-advanced-upload .box__dragndrop {
	display: block;
}
.box__input label {
	color: #797979;
	line-height: 18px;
	font-weight: normal;
	padding-left: 30%;
	position: relative;
	margin: 0;
}
.box__input label:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 5%;
	width: 25%;
	height: 60%;
	background: url(../img/vacancy/cloud_drag.svg) 50%/contain no-repeat;
	margin: auto;
}
.vc-form.is-dragover .vc-form-file {
	background-color: #D8D8D8;
}
.vc-form.is-dragover .vc-form-file {
	background-color: #D8D8D8;
}
.form-header {
	font-size: 36px;
	line-height: 30px;
	color: #000;
	font-weight: 800;
	margin-bottom: 2rem;
}
.modal-body {
	padding: 5rem;
}
.modal-h2 {
	color: #000;
	font-size: 32px;	
	font-weight: 800;	
	line-height: 32px;
    margin-bottom: 2rem;
}
.form-group {
    margin-bottom: 2rem;
}
label {
	color: #A8ACB9;	
	font-size: 12px;	
	font-weight: 800;	
	letter-spacing: 1px;	
	line-height: 28px;
}
input, textarea {
	border: 1px solid rgba(157,175,189,0.51);	
	border-radius: 3px;
}
.invalid-feedback {
	color: #D0021B;	
	font-size: 10px;	
	line-height: 21px;
}
.footer {
	background: #171717;
	padding-top: 70px;
	position: relative;
	color: #9B9B9B;
}
.footer a {
	text-decoration: none;
}
.footer a:hover {
	text-decoration: underline;
}
.footer-logo {
	margin-bottom: 30px;
}
.footer-info {
	margin-top: 40px;
	font-size: 14px;	
	letter-spacing: 0.29px;	
	line-height: 20px;
}
.footer-info span {
	color: #fff;
	display: block;
	margin-bottom: 20px;
}
.footer-nav-link {
	color: #FFFFFF;	
	font-weight: bold;	
	letter-spacing: 0.33px;	
	line-height: 16px;
}
.footer-nav-li {
	margin-bottom: 39px;
}
.footer-nav ul {
	font-size: 14px;	
	letter-spacing: 0.29px;	
	line-height: 14px;
	margin-top: 15px;
}
.footer-nav-li li {
	padding: 9px 0;
}
.footer-bottom {
	border-top: 3px solid rgba(108, 108, 108, .35);
	padding: 20px 0;
	opacity: 0.53;
	font-size: 14px;	
	letter-spacing: 0.29px;	
	line-height: 14px;
}
.ya-share2__title {
	display: none;
}
.ya-share2__badge {
	background: none !important;
}
.ya-share2__list {
	list-style: none;
}
.ya-share2__container_size_m .ya-share2__item {
    margin: 5px 4px 5px 0;
}
.event-socials .ya-share2__container_size_m .ya-share2__icon {
	width: 64px;
	height: 64px;
	display: inline-block;
	vertical-align: middle;
}
.ya-share2__icon:hover {
	opacity: .7;
}
.event-socials .ya-share2__item_service_vkontakte .ya-share2__icon {
	background: url(../img/vk.svg);
}
.event-socials .ya-share2__item_service_facebook .ya-share2__icon {
    background: url(../img/fb.svg);
}
.event-socials .ya-share2__item_service_odnoklassniki .ya-share2__icon {
    background: url(../img/ok.svg);
}
.event-socials .ya-share2__item_service_telegram .ya-share2__icon {
    background: url(../img/tg.svg);
}

@media (min-width: 993px) {
	.h-lg-100 {
		height: 100% !important;
	}
}
@media (max-width: 992px) {
	.productpage-img {
		margin: 0;
	}
	.main-slider-content .h1 {
		font-size: 1.5rem;
		line-height: 1.5;
	}
	.main-slider-content .h1 span {
		font-size: 65px;
		line-height: 100px;
	}
}
@media (max-width: 767px) {
	h1 {
		font-size: 56px;
	}
	.productpage-desc-content {
		padding: 30px;
	}
	.productpage-desc {
		margin-top: 0;
	}
	.modal-body {
		padding: 1rem;
	}
	.main-slider-content .h1 {
		font-size: .7rem;
	}
	.main-slider-content .h1 span {
		font-size: 30px;
		line-height: 50px;
	}
	.mainpage-count {
		padding: .5rem 0;
	}
	.history [class*=col-] {
		border: none !important;
	}
	.history-year {
		text-align: left !important;
	}
	.history .history-year::before {
		display: none;
	}
	.slider-container-inner {
		position: static;
	}
	.publish-row [class*=col-] {
		padding: 2rem;
	}
	.columns-2 {
		-moz-column-count: 1;
		-moz-column-gap: 0;
		-webkit-column-count: 1;
		-webkit-column-gap: 0;
		column-count: 1;
		column-gap: 0;
		padding: 0;
	}
}
@media (max-width: 575px) {
	
}